*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Bebas Neue'; */

}

.header{
    width: 100%;
    height: 60px;
    /* padding: 10px 0; */
    background-color: rgba(0 ,0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: rgb(21, 32, 43) 0px 20px 30px -10px; */
    /* position: fixed; */
}

.logo p{
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: yellow;
    font-family: 'Bebas Neue';
    /* box-shadow: rgb(38 57 77) 0px 20px 30px -10px; */
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (min-width: 769px) and (max-width: 1024px)
{
    .logo p {
        font-size: 2rem;
    }
    
}


.container{
    width: 90%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_img{
    width: 100%;
    height: 680px;
    /* background-color: grey; */
    background-image: url('./media/bat.jpeg');
    background-size:cover;
    background-position:top;
    /* box-shadow: rgb(21, 32, 43) 0px 20px 30px -10px; */
    /* position: fixed; */
    
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0 ,0, 0, 0.2);
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    align-items: center;
    padding-left: 100px;
    column-gap: 550px;
    /* font-family: 'Bebas Neue'; */
}

.signup_form{
    height: 500px;
    width: 25%;
    background-color: wheat;
    border-radius: 10px;
}

.tagline{
    height: 300px;
    width: 25%;
    /* background-color: white; */
}

.dialogue{
    height: 35%;
    width: 100%;
    /* background-color: yellow; */
    font-size: 20px;
    font-family: 'Bebas Neue';
    text-align: center;
}

.icon{
    height: 40%;
    width: 100%;
    background-image: url('./media/bat_logo.png');
    background-size: cover;
    background-position: center;
    /* background-color: blue; */
}

.signup_section{
    margin-top: 8px;
    height: 600px;
    width: 100%;
    /* background-color: lightgray; */
    /* box-shadow: rgb(38 57 77) 0px 20px 30px -10px; */
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: center;
}

.feedbacks{
    margin-top: 50px;
    height: 300px;
    width: 100%;
    /* background-color: wheat; */
}

.footer{
    margin-top: 50px;
    height: 250px;
    width: 100%;
    background-color: #01303bc4;
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}

body{
    background-color: black;
}

.form_container{
    height: 80%;
    width: 25%;
    background-color: #01303bc4;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 20px;
    /* font-family: 'BebasNeue-Regular'; */
    font-family: 'Bebas Neue';
    border-radius: 20px;
    color: white;
    align-items: center;
}

.vision_container{
    height: 80%;
    width: 65%;
    background-color: #01303bc4;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}

.img_section{
    height: 100%;
    width: 35%;
    /* background-color: aqua; */
    background-image: url('./media/movie_night.jpeg');
    background-size: cover;
    background-position: center;
}

.textual_section{
    height: 100%;
    width: 65%;
    /* background-color: aquamarine; */
    padding: 10px;
}

.vision_header{
    height: 10%;
    width: 100%;
    /* background-color: red; */
    text-align: center;
    font-family: 'Bebas Neue';
    color: #b5b3b3;
}

.vision{
    font-family: 'Bebas Neue';
    font-size: 18px;
    padding: 20px 5px;
    color: #b5b3b3;
}

input{
    width: 75%;
    height: 9%;
    border-radius: 10px;
    border: 1px solid white;
}

.register{
    height: 9%;
    width: 50%;
    border-radius: 10px;
    border-color: white;
    background-color: yellow;
    font-family: 'Bebas Neue';
    border: 1px solid black;
}

.signup_header{
    text-align: center;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(./fonts/BebasNeue-Regular.ttf);
}

.feedback{
    height: 85%;
    width: 15%;
    background-color: #01303bc4;
    border-radius: 20px;
    overflow: hidden;
}

.profile_icon{
    height: 40%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 20px; */
}

.photo{
    height: 65px;
    width: 65px;
    border-radius: 35px;
    /* background-color: greenyellow; */
}

.p_1{
    background-image: url('./media/p1.jpeg');
    background-size: cover;
}

.p_2{
    background-image: url('./media/p1.jpeg');
    background-size: cover;
}

.p_3{
    background-image: url('./media/p4.jpeg');
    background-size: cover;
}

.p_4{
    background-image: url('./media/p5.jpeg');
    background-size: cover;
}

.p_5{
    background-image: url('./media/p4.jpeg');
    background-size: cover;
}

.review{
    padding: 2px 2px 2px 2px;
    text-align: center;
    color: white;
}

.f_header_container{
    height: 10%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue';
    color: yellow;
}

.feedback_cards{
    height: 80%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    font-family: 'Bebas Neue';
}

.login_link{
    color: white;
}

.footer_content{
    height: 80%;
    width: 20%;
    /* background-color: white; */
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #b5b3b3;
    /* row-gap: 10px; */
}

.content{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: 'Bebas Neue';
}

input::placeholder{
    padding: 10px;
    font-family: 'Bebas Neue';
}
